{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-box" id="loginForm">
            <h2>Wellcome back</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" placeholder="username" required name="username">
                <input type="password" placeholder="password" required name="password">
                <button type="submit">login</button>
            </form>
        </div>
        <br>
        <p>Don't have an account? <a href="{% url 'register' %}">register</a></p>
    </div>
</body>
</html>
